<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ExpandTranscript":true,"IndexPath":[1,0]}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-log://9DB3312B-DEA9-4C62-8E1A-AE386C98DB2D</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-log</string>
				<key>type</key>
				<string>IDELogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Multiple commands produce '/Users/shathasultan/Library/Developer/Xcode/DerivedData/Mafateeh-dqpnhlnshtasbfawxwuaqjfbkuxc/Build/Products/Debug-iphonesimulator/Mafateeh.app/Info.plist'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-log://9DB3312B-DEA9-4C62-8E1A-AE386C98DB2D</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-log</string>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Bookmark “Build (Automatic) Mafateeh - Log”</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
